/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock
*.sql
*.jpeg
composer.lock
config/filesystems.php
*.png
config/snappy.php
config/snappy.php
