*{
    font-family: sans-serif;
    font-size: 11pt;
		color: black;
		line-height: 100%;
  }
  @font-face{
      font-family: "Vivaldo";
      src: url("../font/GOTHIC.TTF");
  }
  .vivaldi{
    font-family: "Vivaldo";
  }
  .font-plus{
      font-size: 120%;
  }
  .logo-pdf{
    width: 120px;
    height: 120px;
  }
  .corte-abajo{
    padding-bottom: 2px;
    border-bottom-color: orangered;
    border-bottom-style: double;
  }
  .numero-pagina{
    text-align: right;
    padding-bottom: 15px;
  }
  .subrayar {
    padding-bottom: 0.5px;
    border-bottom-color: white;
    border-bottom-style: ridge;
  }
  .justificar{
    text-align: justify;
    text-indent: 1rem;
  }
  .table-simple{
    width: 100%;
  }
  
  .table-simple th{
    background-color: white;
    text-align: center;
    border-right: white 1px solid;
  }
  .table-simple th:last-of-type{
    border-right: black 1px solid;
  }
  
  .table-simple thead{
      background: white;
  }
  
  .table-simple td{
    border-top: black 1px solid;
    border-right: white 1px hidden;
    border-bottom: black 1px solid;
    border-left: white 1px hidden;
    padding: 2px 5px 2px 5px;
  }
  .table-simple tr > td:last-of-type{
    border-right: black 1px solid;
  }
  .table-simple tr > td:first-of-type{
    border-left: black 1px solid;
  }
  h4 center{
    font-size: 14pt;
  }
  .font-10{
		font-size: 10pt !important;
	}